In [48]:
#Pandas revision

In [1]:
import pandas as pd

D:\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
frame = pd.read_csv('students.csv')

In [6]:
frame['scaled marks']=frame['Total (100)'].apply(lambda x:x+5)

In [7]:
frame

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade,scaled marks
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B,75
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F,55
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C,68
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F,51
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B,82
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B,76
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B,79
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A,90
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C,66
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A,89
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A,96
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B,81
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B,78
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C,72
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C,70
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F,23
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B,77
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B,75
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C,65
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A,96
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B,76
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C,65
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F,62
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C,67
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B,82
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A,91
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C,70
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B,76
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F,62
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F,44
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B,77
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B,78
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F,34
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F,56
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A,91
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C,71
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B,75
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B,80
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F,44
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C,73
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A,86
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F,62
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C,72
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B,84
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C,68
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A,85
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C,70
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F,51

In [8]:
#Lambda function

In [11]:
y = lambda x:2*x  #lambda arg: operation

In [10]:
y(6)

12

In [12]:
frame['Total (100)'].count()

48

In [13]:
frame['Total (100)'].argmin()

15

In [24]:
def min(row):
    if row['Assignment 1']>row['Assignment 2']:
        return row['Assignment 2']
    else:
        return row['Assignment 1']
frame.apply(min,axis=1)

0      7.0
1      8.0
2      8.0
3      NaN
4      7.0
5      8.0
6      8.0
7      8.0
8      7.0
9      8.0
10     8.0
11     5.0
12     8.0
13     8.0
14     6.0
15     NaN
16     7.0
17     9.0
18     8.0
19     8.0
20     7.0
21     9.0
22     7.0
23     8.0
24     9.0
25     8.0
26     6.0
27     8.0
28     9.0
29     6.0
30     9.0
31    10.0
32     8.0
33     8.0
34     8.0
35     NaN
36     9.0
37     9.0
38     5.0
39     9.0
40     8.0
41     8.0
42     8.0
43     6.0
44     9.0
45     9.0
46     8.0
47     5.0
dtype: float64

In [25]:
#Assignment: Read data in different formats

In [26]:
frame

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade,scaled marks
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B,75
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F,55
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C,68
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F,51
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B,82
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B,76
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B,79
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A,90
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C,66
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A,89
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A,96
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B,81
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B,78
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C,72
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C,70
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F,23
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B,77
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B,75
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C,65
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A,96
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B,76
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C,65
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F,62
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C,67
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B,82
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A,91
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C,70
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B,76
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F,62
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F,44
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B,77
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B,78
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F,34
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F,56
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A,91
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C,71
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B,75
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B,80
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F,44
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C,73
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A,86
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F,62
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C,72
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B,84
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C,68
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A,85
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C,70
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F,51

In [28]:
frame = pd.read_csv('students.csv',index_col='Student Code')
display(frame)

,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
Student Code,,,,,,,,,,,,,
022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [49]:
#Removing outliers

In [37]:
import numpy as np
mean = frame['Total (100)'].mean()
std = frame['Total (100)'].std()
lower_range = mean - 3*std
upper_range = mean + 3*std

In [38]:
filtered_data = frame[frame['Total (100)'] < upper_range][frame['Total (100)'] > lower_range]

In [39]:
filtered_data

,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
Student Code,,,,,,,,,,,,,
022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [41]:
frame['Assignment 1'].fillna(frame['Assignment 1'].mean(),inplace=True)

In [42]:
frame

,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
Student Code,,,,,,,,,,,,,
022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.000000,9.0,9,45,25.0,70,B
022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.000000,10.0,10,32,18.0,50,F
022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.000000,10.0,10,33,30.0,63,C
022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,7.755556,2.0,2,23,23.0,46,F
022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.000000,9.0,9,43,34.0,77,B
022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.000000,10.0,10,44,27.0,71,B
022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.000000,10.0,10,44,30.0,74,B
022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.000000,10.0,10,45,40.0,85,A
022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.000000,9.0,9,37,24.0,61,C
022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.000000,NaN,8,44,40.0,84,A
022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.000000,NaN,8,46,45.0,91,A
022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.000000,NaN,5,41,35.0,76,B
022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.000000,10.0,10,40,33.0,73,B
022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.000000,10.0,10,42,25.0,67,C
022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.000000,8.0,8,36,29.0,65,C
022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,7.755556,NaN,0,18,NaN,18,F
022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.000000,9.0,9,37,35.0,72,B
022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.000000,11.0,11,39,31.0,70,B
022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.000000,10.0,10,31,29.0,60,C
022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.000000,10.0,10,46,45.0,91,A
022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.000000,9.0,9,40,31.0,71,B
022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.000000,11.0,11,40,20.0,60,C
022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.000000,NaN,7,34,23.0,57,F
022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.000000,10.0,10,41,21.0,62,C
022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.000000,11.0,11,44,33.0,77,B
022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.000000,10.0,10,45,41.0,86,A
022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.000000,8.0,8,41,24.0,65,C
022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.000000,10.0,10,45,26.0,71,B
022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.000000,11.0,11,39,18.0,57,F
022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.000000,NaN,6,30,9.0,39,F
022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.000000,NaN,9,40,32.0,72,B
022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.000000,NaN,10,44,29.0,73,B
022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.000000,10.0,10,21,8.0,29,F
022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.000000,10.0,10,34,17.0,51,F
022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.000000,10.0,10,44,42.0,86,A
022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,7.755556,10.0,10,38,28.0,66,C
022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.000000,NaN,9,43,27.0,70,B
022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.000000,NaN,9,45,30.0,75,B
022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.000000,7.0,7,22,17.0,39,F
022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.000000,11.0,11,43,25.0,68,C
022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.000000,10.0,10,46,35.0,81,A
022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.000000,10.0,10,37,20.0,57,F
022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.000000,10.0,10,44,23.0,67,C
022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.000000,8.0,8,45,34.0,79,B
022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.000000,NaN,9,41,22.0,63,C
022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.000000,NaN,9,45,35.0,80,A
022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.000000,10.0,10,43,22.0,65,C
022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.000000,7.0,7,27,19.0,46,F

In [ ]:
#Database

In [44]:
import sqlite3 as s3

In [45]:
query = "create table Student(sId varchar,sname varchar)" #Create a table

In [71]:
con = s3.connect('student.sqlite') #Make the connection

In [47]:
con.execute(query) #Execute query

In [50]:
data = [
    (1,'Ali'),
    (2,'Fatima'),
    (3,'Asad')    
]

In [52]:
query = "INSERT INTO Student values(?,?)"

In [53]:
con.executemany(query,data)

In [54]:
con.commit()

In [72]:
query = "select sId, sName from Student"

In [73]:
cursor = con.execute(query)

In [74]:
rows = cursor.fetchall()

In [75]:
rows

[('1', 'Ali'), ('2', 'Fatima'), ('3', 'Asad')]

In [76]:
cursor.description

(('sId', None, None, None, None, None, None),
 ('sname', None, None, None, None, None, None))

In [70]:
#DDL : Create, alter
#DML : Select, Insert, delete, update

In [69]:
con.close()

In [80]:
#Data cleaning

In [77]:
frame.columns

Index(['Degree', 'Student Name', 'Mid', 'Quiz 1', 'Quiz 2', 'Best of Quizzes',
       'Assignment 1', 'Assignment 2', 'Best of Assignments',
       'Total Sessional (50)', 'Final (50)', 'Total (100)', 'Grade'],
      dtype='object')

In [79]:
frame['Quiz 1'].notnull()

Student Code
022-14-19987      True
022-14-110233    False
022-14-110585     True
022-14-19718      True
022-14-110648     True
022-14-110232     True
022-14-110588     True
022-14-110388     True
022-14-110601     True
022-14-110599     True
022-14-110214     True
022-14-110591     True
022-15-110994     True
022-14-110600     True
022-14-110389     True
022-14-19916     False
022-14-110596     True
022-14-110396     True
022-14-110223     True
022-14-110222     True
022-14-110412     True
022-14-110593     True
022-14-110398     True
022-14-19983      True
022-14-110215     True
022-14-110105     True
022-14-110370     True
022-14-110452     True
022-14-110387     True
022-14-110217     True
022-14-110401     True
022-14-110231     True
022-14-110035    False
022-14-19919      True
022-14-110413     True
022-14-19923      True
022-14-110582     True
022-14-110230     True
022-14-110229     True
022-14-110107     True
022-14-110584     True
022-14-110225     True
022-14-110587     True
022-14-110451     True
022-14-110589     True
022-14-110400     True
022-14-19911      True
022-14-110219     True
Name: Quiz 1, dtype: bool

In [81]:
frame['Quiz 1'].isnull()

Student Code
022-14-19987     False
022-14-110233     True
022-14-110585    False
022-14-19718     False
022-14-110648    False
022-14-110232    False
022-14-110588    False
022-14-110388    False
022-14-110601    False
022-14-110599    False
022-14-110214    False
022-14-110591    False
022-15-110994    False
022-14-110600    False
022-14-110389    False
022-14-19916      True
022-14-110596    False
022-14-110396    False
022-14-110223    False
022-14-110222    False
022-14-110412    False
022-14-110593    False
022-14-110398    False
022-14-19983     False
022-14-110215    False
022-14-110105    False
022-14-110370    False
022-14-110452    False
022-14-110387    False
022-14-110217    False
022-14-110401    False
022-14-110231    False
022-14-110035     True
022-14-19919     False
022-14-110413    False
022-14-19923     False
022-14-110582    False
022-14-110230    False
022-14-110229    False
022-14-110107    False
022-14-110584    False
022-14-110225    False
022-14-110587    False
022-14-110451    False
022-14-110589    False
022-14-110400    False
022-14-19911     False
022-14-110219    False
Name: Quiz 1, dtype: bool

In [86]:
pd.set_option('display.max_rows', None)

In [87]:
frame

,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
Student Code,,,,,,,,,,,,,
022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.000000,9.0,9,45,25.0,70,B
022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.000000,10.0,10,32,18.0,50,F
022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.000000,10.0,10,33,30.0,63,C
022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,7.755556,2.0,2,23,23.0,46,F
022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.000000,9.0,9,43,34.0,77,B
022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.000000,10.0,10,44,27.0,71,B
022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.000000,10.0,10,44,30.0,74,B
022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.000000,10.0,10,45,40.0,85,A
022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.000000,9.0,9,37,24.0,61,C
022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.000000,NaN,8,44,40.0,84,A
022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.000000,NaN,8,46,45.0,91,A
022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.000000,NaN,5,41,35.0,76,B
022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.000000,10.0,10,40,33.0,73,B
022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.000000,10.0,10,42,25.0,67,C
022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.000000,8.0,8,36,29.0,65,C
022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,7.755556,NaN,0,18,NaN,18,F
022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.000000,9.0,9,37,35.0,72,B
022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.000000,11.0,11,39,31.0,70,B
022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.000000,10.0,10,31,29.0,60,C
022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.000000,10.0,10,46,45.0,91,A
022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.000000,9.0,9,40,31.0,71,B
022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.000000,11.0,11,40,20.0,60,C
022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.000000,NaN,7,34,23.0,57,F
022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.000000,10.0,10,41,21.0,62,C
022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.000000,11.0,11,44,33.0,77,B
022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.000000,10.0,10,45,41.0,86,A
022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.000000,8.0,8,41,24.0,65,C
022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.000000,10.0,10,45,26.0,71,B
022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.000000,11.0,11,39,18.0,57,F
022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.000000,NaN,6,30,9.0,39,F
022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.000000,NaN,9,40,32.0,72,B
022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.000000,NaN,10,44,29.0,73,B
022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.000000,10.0,10,21,8.0,29,F
022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.000000,10.0,10,34,17.0,51,F
022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.000000,10.0,10,44,42.0,86,A
022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,7.755556,10.0,10,38,28.0,66,C
022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.000000,NaN,9,43,27.0,70,B
022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.000000,NaN,9,45,30.0,75,B
022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.000000,7.0,7,22,17.0,39,F
022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.000000,11.0,11,43,25.0,68,C
022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.000000,10.0,10,46,35.0,81,A
022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.000000,10.0,10,37,20.0,57,F
022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.000000,10.0,10,44,23.0,67,C
022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.000000,8.0,8,45,34.0,79,B
022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.000000,NaN,9,41,22.0,63,C
022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.000000,NaN,9,45,35.0,80,A
022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.000000,10.0,10,43,22.0,65,C
022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.000000,7.0,7,27,19.0,46,F

In [89]:
print(frame.count())
print(frame.dropna().count())

Degree                  48
Student Name            48
Mid                     48
Quiz 1                  45
Quiz 2                  45
Best of Quizzes         48
Assignment 1            48
Assignment 2            36
Best of Assignments     48
Total Sessional (50)    48
Final (50)              47
Total (100)             48
Grade                   48
dtype: int64
Degree                  32
Student Name            32
Mid                     32
Quiz 1                  32
Quiz 2                  32
Best of Quizzes         32
Assignment 1            32
Assignment 2            32
Best of Assignments     32
Total Sessional (50)    32
Final (50)              32
Total (100)             32
Grade                   32
dtype: int64

In [90]:
print(frame.count())
print(frame.dropna(how='all').count())

Degree                  48
Student Name            48
Mid                     48
Quiz 1                  45
Quiz 2                  45
Best of Quizzes         48
Assignment 1            48
Assignment 2            36
Best of Assignments     48
Total Sessional (50)    48
Final (50)              47
Total (100)             48
Grade                   48
dtype: int64
Degree                  48
Student Name            48
Mid                     48
Quiz 1                  45
Quiz 2                  45
Best of Quizzes         48
Assignment 1            48
Assignment 2            36
Best of Assignments     48
Total Sessional (50)    48
Final (50)              47
Total (100)             48
Grade                   48
dtype: int64

In [125]:
df = pd.DataFrame({'name':['ali','asif','rashid',None],'age':[1,None,3,None], 'marks':[None,12,3,25]})

In [126]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  3.0    3.0
3    None  NaN   25.0

In [127]:
df.dropna(how='all')

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  3.0    3.0
3    None  NaN   25.0

In [128]:
df.dropna(thresh=2) #atleast two columns should have the data

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  3.0    3.0

In [129]:
 df.dropna(thresh=3,axis=1) #atleast three rows have data to survive a column

     name  marks
0     ali    NaN
1    asif   12.0
2  rashid    3.0
3    None   25.0

In [130]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  3.0    3.0
3    None  NaN   25.0

In [136]:
df[df['name'].notnull()]

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  3.0    3.0

In [137]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  3.0    3.0
3    None  NaN   25.0

In [138]:
df.fillna({  #specifying different filled values for each column
    'name':'No Name',
    'age':18,
    'marks':0
})

      name   age  marks
0      ali   1.0    0.0
1     asif  18.0   12.0
2   rashid   3.0    3.0
3  No Name  18.0   25.0

In [139]:
df.fillna(0) #Filled all missing values with 0

     name  age  marks
0     ali  1.0    0.0
1    asif  0.0   12.0
2  rashid  3.0    3.0
3       0  0.0   25.0

In [140]:
df['age'].fillna(df['age'].mean()) #Filled with mean vale

0    1.0
1    2.0
2    3.0
3    2.0
Name: age, dtype: float64

In [141]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  3.0    3.0
3    None  NaN   25.0

In [142]:
df.fillna(method='ffill')

     name  age  marks
0     ali  1.0    NaN
1    asif  1.0   12.0
2  rashid  3.0    3.0
3  rashid  3.0   25.0

In [143]:
df = pd.DataFrame({'name':['ali','asif','rashid',None],'age':[1,None,None,None], 'marks':[None,12,3,25]})

In [144]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  NaN    3.0
3    None  NaN   25.0

In [145]:
df.fillna(method='ffill',limit=2)

     name  age  marks
0     ali  1.0    NaN
1    asif  1.0   12.0
2  rashid  1.0    3.0
3  rashid  NaN   25.0

In [146]:
df = pd.DataFrame({'name':['ali','asif','rashid','rashid'],'age':[1,None,None,None], 'marks':[None,12,3,3]})

In [147]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  NaN    3.0
3  rashid  NaN    3.0

In [149]:
df.drop_duplicates()

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  NaN    3.0

In [150]:
df = pd.DataFrame({'name':['ali','asif','rashid','rashid'],'age':[1,None,None,None], 'marks':[None,12,3,31]})

In [151]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  NaN    3.0
3  rashid  NaN   31.0

In [152]:
df.drop_duplicates(['name'])

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  NaN    3.0

In [153]:
df.drop_duplicates(['name'],keep='last')

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
3  rashid  NaN   31.0

In [154]:
father_name={
    'ali':'Hamid',
    'asif':'Asghar',
    'rashid':'Naeem'
}

In [155]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  NaN    3.0
3  rashid  NaN   31.0

In [157]:
df['Father Name'] = df['name'].map(father_name)

In [158]:
df

     name  age  marks Father Name
0     ali  1.0    NaN       Hamid
1    asif  NaN   12.0      Asghar
2  rashid  NaN    3.0       Naeem
3  rashid  NaN   31.0       Naeem

In [162]:
df['Full Name'] = df['name'].map(lambda name: name+' ' +father_name[name])

In [163]:
df

     name  age  marks Father Name     Full Name
0     ali  1.0    NaN       Hamid     ali Hamid
1    asif  NaN   12.0      Asghar   asif Asghar
2  rashid  NaN    3.0       Naeem  rashid Naeem
3  rashid  NaN   31.0       Naeem  rashid Naeem